a,
a:hover {
  color: #212529;
}

p#pdf a {
  background-color: #212529;
  color: #fff;
  text-decoration: none;
  font-family: 'Anton', serif;
}

h1,
h3,
h4,
h5 {
  font-family: 'Anton', serif;
}

h3 {
  margin: 0 0 1em;
}

h4 {
  font-size: 1.3em;
}

h5,
p,
ul {
  font-size: 1.1em;
}

ul {
  padding: 0;
  list-style: none;
}

ul:not(#competences ul, footer ul) {
  list-style: square;
  margin: 0;
}

.small {
  font-size: 0.9em;
}

#img {
  height: 100vh;
  padding: 0;
  position: fixed;
  background-image: url('./images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -16em;
}

section,
header,
footer {
  padding: 0;
  z-index: 999;
}

section,
header {
  background-color: #fff;
}

footer {
  background-color: #000000ce;
}

footer p {
  color: #fff;
  font-family: 'Anton', serif;
  font-size: 1em;
}

header {
  padding: 0.5em 0 3em;
}

header h1 {
  margin: 0;
}

header small {
  font-size: 1.3em;
}

section#presentation {
  margin: 0 0 45em;
}

article {
  padding: 2em 0 0;
  margin: auto;
}

.card {
  border-radius: 0;
  border: none;
}

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}

#competences .card {
  margin-top: 1.5em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#competences div.card-body {
  padding: 0;
}

#competences h5 {
  padding: 0.2em;
  background-color: #212529;
  color: #fff;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {

  #presentation article,
  footer>div {
    min-width: 100%;
  }

  #presentation {
    padding: 0 2em 0;
  }

  #competences {
    margin: 3em 0 0;
  }
}

@media screen and (max-width: 1387px) {

  #cv article,
  footer>div {
    min-width: 100%;
  }
}

@media screen and (max-width: 1092px) {
  #img {
    background-position: center;
  }
}

@media screen and (max-width: 500px) {
  h4 {
    font-size: 1.1em;
  }

  h5,
  p,
  ul {
    font-size: 1em;
  }
}